.code-editor #code-text {
  margin-left: 5px;
}
.code-editor .code-preview {
  margin-top: 15px;
  font-size: 12px;
}

.code-editor.control-section {
  min-height: 370px;
  margin-bottom: 15px;
  /* margin-top: 10px; */
}

.code-editor .h3 {
  font-size: 14px;
  margin: 4px;
}

.code-editor .splitter-editor-content {
  padding: 12px;
}
.code-editor .splitter-image {
  margin: 0 auto;
  display: flex;
  height: 115px;
  /* margin-top: 10px; */
}

#codeEditor {
  border: none;
}

div.e-pane-vertical > div:first-child {
  height: 100%;
}

.e-ribbon {
  background-color: #fafafa;
}

.e-ribbon {
  border: 1px solid #e0e0e0; /* position: relative; */
}
